h2 {
    text-align: center;
}

h3, h4 {
    text-align: left;
}

li {
    flex: 1 0 200px;
    list-style-type: none;
    padding: 20px;
    border: 1px black solid;
    border-radius: 5px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
}

p {
    margin-left: 20px;
}

button {
    cursor:pointer;
}

.nav-menu {
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

.nav-menu a {
    margin-right: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    margin-bottom: 20px;
}

.last-downloaded-file-item {
    cursor: pointer;
}
